/* Easy Slider */

	#slider{ position:relative; overflow:hidden;}	
	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:696px;
		height:241px;
		
		}	
		
		
		
	#prevBtn, #nextBtn{ 
		display:none;
		width:30px;
		height:77px;
		position:absolute;
		left:-30px;
		top:71px;
		}	
	#nextBtn{ 
		left:696px;
		}														
	#prevBtn a, #nextBtn a{  
		display:none;
		width:30px;
		height:77px;
		background:url(images/btn_prev.gif) no-repeat 0 0;	
		}	
	#nextBtn a{ 
		background:url(images/btn_next.gif) no-repeat 0 0;	
		}												



.slider_img{ width:705px; height:282px; margin:0; padding:0; position:relative; }
.slider_img img	{ margin:0; padding:0;}
.slider_img span{ display:block; background:url(../images/grey_bg.png) center bottom  repeat-x; width:705px; height:48px; margin:0; padding:0 0 0 9px; position:absolute; bottom:41px; left:0; font:bold 12px/46px Arial, Helvetica, sans-serif; color:#fff;} 


/* // Easy Slider */
